<h1>Convert <%= @symbol %></h1>

<p>Go <a href="/forex">back</a>.</p>

<ul>
  <% @code_array.each do |code| %>
  <li><a href="/forex/<%= @symbol %>/<%= code %>">Convert 1 <%= @symbol %> to <%= code %></a></li>
  <% end %>
</ul>
